<!DOCTYPE html>
<html>

<head>
    <title>Quizlio</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
    <header>
        <div style="background-color:red">
        <font size="10" color="black">Welcome to Quizlio!</font>
    </header>
    <div>
    <p><form action="/action_page.php">
        Name: <input type="text" name="Name"><br>
        Phone: <input type="text" name="Phone"><br>
        <input type="submit" value="Submit">
      </form>
    </p>
    </div>
    <div>
            <form id="regForm" action="">

                    <h1>Enter Your Questions:</h1>
                
                    <div class="tab">Question 1:
                        <p><input placeholder="Question..." oninput="this.className = ''"></p>
                        <p><input placeholder="answer..." oninput="this.className = ''"></p>
                    </div>
                    
                    <div class="tab">Question 2:
                        <p><input placeholder="Question..." oninput="this.className = ''"></p>
                        <p><input placeholder="answer..." oninput="this.className = ''"></p>
                    </div>
                    
                    <div class="tab">Question 3:
                        <p><input placeholder="Question..." oninput="this.className = ''"></p>
                        <p><input placeholder="answer..." oninput="this.className = ''"></p>
                    </div>
                    
                    <div class="tab">Question 4:
                        <p><input placeholder="Question..." oninput="this.className = ''"></p>
                        <p><input placeholder="answer..." oninput="this.className = ''"></p>
                    </div>
                    
                    <div style="overflow:auto;">
                      <div style="float:right;">
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                      </div>
                    </div>
      </form>
    </div>

</body>

</html>